
.comment:nth-child(n+5) {
   display: none;
}

.show-more {
   background-color: #4CAF50;
   color: white;
   font-size: 16px;
   padding: 8px 16px;
   position: relative;
   top: 0;
   margin-bottom: 10px;
}