.comment {
	flex-wrap: wrap;
	background: rgb(220,220,220, 0.5);
	padding: 8px;
	margin: 16px;
}
.comment-data {
	display:flex;
	color: gray;
	align-items: center;
	justify-content: space-between;
}
.comment-body {
	display: block;
}

.user-icon {
	margin: 4px;
}

@media (max-width: 768px) {
  .comment-data {
    font-size: 16px;
  }
}