
.searchbar {
	display: flex;
	align-items: center;
	margin-left: 18%;
	flex-grow: 1;

}

form input {
	width: 400px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
	gap: 4px;
	height: 24px;
	border-radius: 28px;
	background: rgba(220, 220, 220, 0.4);
	border: hidden;
}

@media (max-width: 1150px) {
	.SearchBar {
		width: 200px;
	}
}

