.header {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin-right: auto;
 margin-left: 8px;
}

.App-logo {
  width: 40px;
  height: 40px;
  color: blue;

}
.App-header {
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 950px) {

  .App-header {
    display:none;
  }
  .App-logo {
    margin-left: 24px;
  }

}

@media (max-width: 570px) {

  .App-logo {
    display: none;
  }
}

