

article {
	background: white;
	display: block;
	width: 50%;
	height: auto;
	text-align: center;
	padding: 1% 2%;
	margin: 1%;

}

 p {
	display: flex;
  	align-items: center;
 }


img {
	width: 70%;
	height:auto;
}


.no_image {
	width: 20%;
	height:auto;
}

.post-text {
	text-align: left;
}

.post-info {
	display: flex;
	justify-content: space-between;
	color:gray;
	font-weight: bold;
}

.post-subreddit {
	color: black;
 }
.comments-section {
	display: inline-flex;
	text-align: center;	
	flex-direction: column;
	align-items: center;

}

.comment-dropdown{
   display: block;
}

.comment-dropdown.hidden {
   display: none;
}

.comment-icon {
	margin: 4px;

}

.comments-button {
	position: top;
}
