main {

}

article {
	background: white;
	display: block;
	width: 50%;
	height: auto;
	text-align: center;
	padding: 1%;
	margin-bottom: 1%;

}

.post-text {
	text-align: left;
}

.post-info {
	display: flex;
	justify-content: space-between;

}

img {
	width: 70%;
	height:auto;
}

.no_image {
	width: 20%;
	height:auto;
}

