body {
   background-color: rgb(220,220,220);
}, 
html {
 font-size: 18px;
 font-family: 'Roboto', sans-serif;
},


.App {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 100%;
}


.topbar {
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
  padding: 8px;
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  height:80px;
  width:100%;
}

